*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
}
/* header logo */
.sony{
    top: 0px;
    width: 100%;
    height: 35px;
    background-color: black;
}
header nav{
    top: 35px;
    font-size: 1.5rem;
}
header nav,
.sony{
    z-index: 1000;
}
.sony img{
    float: right;
    margin-top: 10px;
    width: 110px;
    height: 15px;
}
/* hover dropdown menu */
.ms_dropdown-hover:hover .ms_text-hover{ 
    color: #0271d1;
}
.ms_dropdown-hover .ms_text-hover{
    color: black;
}
.ms_dropdown-hover:hover .ms_toggle-open{
    display: inline-block;
}
.ms_dropdown-hover:hover .ms_toggle-close{
    display: none;
}
.ms_toggle-open{
    transform: rotate(180deg);
    display: none;
    width: 15px;
    height: 15px;
}
.ms_toggle-close{
    width: 15px;
    height: 15px;
}
.ms_play-menu:hover{
    box-shadow: 1px 1px 10px 4px rgb(173, 173, 173);
}
/* dropdown */
.ms_dropdown-border{
    border-bottom: 1px solid rgb(209, 209, 209);
    padding-bottom: 10px;
}
.ms_dropdown img{
    width: 60px;
    margin: 0 5px;
}
.ms_dropdown span{
    text-align: center;
}
.ms_play-menu{
    text-align: center;
}
/* dropdown sublink */
.ms_sublink li a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}
.ms_sublink li:hover a{
    color: #0271d1;
}
/* button nav lg/md*/
.ms_button-type1{
    display: block;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    text-align: center;
}
.ms_nav-button-color{
    background-color: rgb(58, 58, 58);
}
.ms_backgroud-button1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    height: 45px;
    min-height: 100%;
    border-radius: 60px;
    text-decoration: none;
}
.ms_button-hover:hover .ms_button-type1{
    border: 3px solid white;
    transition: 0.1s ease-in;
}
/* button nav sm */
.ms_button-out-sm{
    margin-top: 5px;
    width: 50%;
    height: 50px;
}
.ms_button-in-sm{
    width: 100%;
    padding: 0;
}
/* icona search */
.ms_search-dim{
    width: 20px;
    height: 20px;
}
.ms_search{
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
    line-height: 35px;
    vertical-align: middle;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
}
.ms_margin{
    margin-right: 15px
}
/* main */
main{
    margin-top: 111px;
}
/* jumbo */
.jumbo{
    background-size: cover;
    background-position: center;
    height: 800px;
    color: white;
}
.jumbo h1{
    font-weight: bold;
}
.ms_w-button{
    margin-top: 20px;
    width: 125px;
}
.ms_section1-button-color{
    background-color: rgb(255, 102, 0);
}
.jumbo .jumbotron img{
    width: 300px;
}
.jumbotron{
    height: 100%;
}
.jumbo h1,
.jumbo p,
.jumbo img,
.jumbo .ms_button-hover{
    margin-top: 40px;
}
/* background jumbo */
.ms_background-game1{
    background-image:url(img/jumbo-bg.png);
}
.ms_background-game2{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}
/* selezione background jumbo */
.ms_selector{
    padding-top: 35px;
    min-height: 180px;
}
.ms_select-banner img{
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}
.ms_select-game:hover img{
    border-radius: 20px;
    transition: 0.2s;
    transform: scale(1.1) translateY(-10px);
    border: 3px solid rgb(70, 183, 221);
}
/* sezione playstation 5 */
.ms_section-title span{
    color: rgb(0, 119, 255);
    font-size: 0.9rem;
}
.ms_section-title h1,
.ms_section-mid h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.ms_section-mid h1{
    margin-top: 30px;
}
.ms_section-title p,
.ms_section-mid p{
    font-size: 1rem;
    color: grey;
}
.ms_section-mid img{
    width: 100%;
}
.ms_section2-button-color{
    background-color: rgb(64, 92, 255);
}
.ms_w-button2{
    width: 195px;
}
.ms_select-banner-console{
    min-height: 200px;
}
.ms_select-banner-console img{
    cursor: pointer;
    width: 90%;
    padding-bottom: 5px;
}
.ms_select-img:hover img{
    transition: 0.2s;
    transform: scale(1.1) translateY(-20px);
    border-bottom: 3px solid rgb(70, 183, 221);
}
/* sezione nuove uscite */
.ms_background-new{
    background-color: rgb(49, 49, 49);
}
.ms_background-new span{
    color: white;
    font-size: 1rem;
}
.ms_text-top{
    font-size: 1rem;
    color: white;
}
.ms_margin1{
    margin-top: 50px;
}
.ms_margin1 span{
    margin-bottom: 30px;
}
/* sezione playstation 4 */
.ms_w-button3{
    width: 125px;
}
.ms_section-title h1,
.ms_section-mid2 h1{
    font-size: 1.9rem;
    margin-bottom: 20px;
}
.ms_section-mid2 h1{
    margin-top: 30px;
}
.ms_section-title .ms_trade-mark::after{
    content:'\00AE';
    font-size: 25px;
    position: relative;
    top: -10px;
}
.ms_section-title p,
.ms_section-mid2 p{
    margin: 0%;
    font-size: 1.5rem;
    color: grey;
}
.ms_section-mid2 img{
    width: 100%;
}
.ms_section-title{
    margin-bottom: 50px;
}
.ms_section-new-img p{
    margin-bottom: 20px;
}
/* sezione plus */
.ms_background-plus{
    min-height: 200px;
    background-color: rgb(192, 192, 192);
}
.ms_button-plus{
    color: blue;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    height: 40px;
    width: 200px;
    padding: 5px 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
}
.ms_logo-plus,
.ms_logo-now{
    width: 250px;
}
.ms_img-game-plus img,
.ms_img-game-now img{
    width: 100%;
}
.ms_button-plus-hover:hover .ms_button-plus{
    transition: 0.1s;
    box-shadow: 0px 0px 10px 5px rgb(128, 128, 128);
}
/* sezione sconti */
.ms_sale-banners img{
    width: 100%;
}
/* sezione now */
.ms_background-now{
    color: white;
    background-color: rgb(21, 21, 95);
}
.ms_button-now{
    color: black;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    height: 40px;
    width: 200px;
    padding: 5px 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
}
.ms_button-now-hover:hover .ms_button-now{
    transition: 0.1s;
    box-shadow: 0px 0px 15px 5px rgb(56, 84, 247);
}
/* footer */
.ms_background-footer{
    background-color: rgb(21, 81, 211);
}
.ms_background-footer ul li{
    list-style: none;
}
.ms_background-footer p,
.ms_background-footer ul li a{
    color: white;
}
.ms_logo-footer{
    width: 120px;
}
.ms_background-footer p > a{
    color: white;
}

/* dimensione testo main*/
@media all and (min-width:768px){
    .ms_section-title h1,
    .ms_section-mid h1{
        font-size: 3rem;
    }
    .ms_section-title p,
    .ms_section-mid p{
        font-size: 1.5rem;
        color: grey;
    }
    .ms_section-title span{
        color: rgb(0, 119, 255);
        font-size: 1.2rem;
    }
    .ms_background-new span{
        color: white;
        font-size: 1.3rem;
    }
    .ms_section-mid2 p{
        margin: 0%;
        font-size: 1.3rem;
        color: grey;
    }
    .ms_section-new-img p{
        margin-bottom: 20px;
    }
    .ms_dropdown img{
        width: 70px;
        margin: 0 10px;
    }
    .ms_sublink li a{
        font-size: 1.1rem;
    }
}
@media all and (min-width:992px){
    .ms_margin{
        margin-right: 5px;
    }
    header nav{
        font-size: 1rem;
    }
    .ms_text-top{
        font-size: 2rem;
        color: white;
    }
    .ms_button-type1{
        padding: 3px 10px;
    }
    .ms_logo-plus,
    .ms_logo-now{
        width: 300px;
    }
    .ms_background-plus p,
    .ms_background-now p{
        font-size: 1.5rem;
    }
    .ms_background-plus a,
    .ms_background-now a{
        font-size: 1.2rem;
    }
    .ms_button-plus,
    .ms_button-now{
        width: 250px;
    }
}
@media all and (min-width:1176px){
    header nav{
        font-size: 1.2rem;
    }
    .ms_text-top{
        font-size: 2rem;
        color: white;
    }
    .ms_logo-plus,
    .ms_logo-now{
        width: 400px;
    }
}