*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* header logo */
.sony{
    width: 100%;
    height: 35px;
    background-color: black;
}
.sony img{
    float: right;
    margin-top: 10px;
    width: 110px;
    height: 15px;
}
/* hover dropdown menu */
.ms_dropdown-hover:hover .ms_text-hover{ 
    color: #0271d1;
}
.ms_dropdown-hover .ms_text-hover{
    color: black;
}
.ms_dropdown-hover:hover .ms_toggle-open{
    display: inline-block;
}
.ms_dropdown-hover:hover .ms_toggle-close{
    display: none;
}
.ms_toggle-open{
    transform: rotate(180deg);
    display: none;
    width: 15px;
    height: 15px;
}
.ms_toggle-close{
    width: 15px;
    height: 15px;
}
.ms_play-menu:hover{
    box-shadow: 1px 1px 10px 5px rgb(173, 173, 173);
}
/* dropdown */
.ms_dropdown-border{
    border-bottom: 1px solid rgb(209, 209, 209);
    padding-bottom: 10px;
}
.ms_dropdown img{
    width: 60px;
    margin: 0 10px;
}
.ms_dropdown span{
    text-align: center;
}
.ms_play-menu{
    text-align: center;
}
/* dropdown sublink */
.ms_sublink li a{
    text-decoration: none;
    color: black;
}
.ms_sublink li:hover a{
    color: #0271d1;
}
/* button nav lg/sm*/
.ms_button-type1{
    color: white;
    width: 70px;
    background-color: rgb(58, 58, 58);
    border-radius: 30px;
    text-align: center;
}
.ms_backgroud-button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 38px;
    background-color: rgb(58, 58, 58);
    border-radius: 60px;
    text-decoration: none;
}
.ms_button-hover:hover .ms_button-type1{
    border: 3px solid white;
    transition: 0.1s ease-in;
}
/* button nav sm */
.ms_button-out-sm{
    margin-top: 5px;
    width: 50%;
}
.ms_button-in-sm{
    width: 97%;
}
/* icona search */
.ms_search-dim{
    width: 5%;
    height: 20px;
}
.ms_search{
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    padding-left: 10px;
    line-height: 35px;
    vertical-align: middle;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
}
.ms_margin{
    margin-right: 10px;
}
