*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* header logo */
.sony{
    width: 100%;
    height: 35px;
    background-color: black;
}
.sony img{
    float: right;
    margin-top: 10px;
    width: 110px;
    height: 15px;
}
/* nav */

/* hover dropdown menu */
.ms_dropdown-hover:hover .ms_text-hover{ 
    color: #0271d1;
}
.ms_dropdown-hover .ms_text-hover{
    color: black;
}
.ms_dropdown-hover:hover .ms_toggle-open{
    display: inline-block;
}
.ms_dropdown-hover:hover .ms_toggle-close{
    display: none;
}
.ms_toggle-open{
    display: none;
    width: 15px;
    height: 15px;
}
.ms_toggle-close{
    transform: rotate(180deg);
    width: 15px;
    height: 15px;
}
/* button nav */
.ms_button-type1{
    color: white;
    padding: 0 10px;
    background-color: rgb(58, 58, 58);
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
}
.ms_button-hover:hover .ms_button-type1{
    border: 3px solid white;
    transition: 0.2s;
}
.ms_backgroud-button1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 38px;
    background-color: rgb(58, 58, 58);
    border-radius: 60px;
}
/* icona search */
.ms_search-dim{
    width: 5%;
    height: 20px;
}